[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
cython = "*"
gunicorn = "*"
pandas = "*"
flask = "*"
fortuna = "*"
scikit-learn = "*"
spacy = "*"

[requires]
python_version = "3.8"
